.back-to-top {
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    border-radius: 50%;
    display: none; /* Initially hidden */
}

.back-to-top:hover {
    background-color: #0056b3;
}
